.skills__content{
    display: flex;
    align-items: center;
    gap: 250px;
}

.skills__techs{
    width: 500px;
}

.skills__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.skills__list li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    padding: 8px 20px;
    border-radius: 20px;
    transition: .5s;
    cursor: pointer;
}

.skills__list li:hover{
    background-color: var(--accentColor);
}